.search-container {
    min-height: 100vh;
    display: flex;

    form {
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin: 0 1rem;

        .search-group {
            position: relative;
            color: rgb(88, 88, 88);
            width: 100%;
            max-width: 600px;
            margin-bottom: 1em;

            &.autocomplete {
                input[type="search"]:focus {
                    transition-delay: 0ms;

                    border: {
                        bottom-left-radius: 0;
                        bottom-right-radius: 0;
                    }

                    &+.suggested-list {
                        transition-delay: 0ms;
                        visibility: visible;
                        max-height: 100vh;
                    }
                }
            }

            input[type="search"] {
                border: {
                    color: #aaa;
                    style: solid;
                    width: 1px;
                    radius: 1em;
                }

                transition-property: border-radius;
                transition-delay: 200ms;
                width: 100%;
                background-color: #fff;
                padding: 0;
                margin: 0;
                padding-left: 1em;
                padding-right: calc(1.5em + 1ch);
                outline: none;
                font-weight: 600;
                color: inherit;
                height: 2em;
            }

            a[role="button"] {
                position: absolute;
                top: 0;
                right: 0;
                height: 2em;
                border: none;
                background: none;
                width: calc(1em + 1ch);
                cursor: pointer;
                outline: none;
                opacity: .3;
                z-index: 2;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: inherit;

                &:hover,
                &:focus {
                    opacity: 1;
                }
            }

            .suggested-list {
                font-size: inherit;
                display: block;
                position: absolute;
                background-color: #fff;
                z-index: 10;
                top: calc(100%);
                padding: 0;
                margin: 0;
                width: 100%;
                visibility: hidden;
                max-height: 1px;
                transition-delay: 200ms;
                transition-property: visibility, max-height;

                border: {
                    bottom-left-radius: 1em;
                    bottom-right-radius: 1em;
                }

                box-shadow: 0px 1px 3px -1px #0000004d;
                list-style: none;
                overflow: hidden;

                border: {
                    color: #aaa;
                    style: solid;
                    width: 1px;
                    top: none;
                }

                li {
                    line-height: 2em;
                    cursor: pointer;
                    padding: 0 1em;
                    outline: none;

                    &:hover,
                    &:focus {
                        background-color: #f0f0f0;
                    }

                    small {
                        float: right;
                    }
                }
            }

        }

        input[type="submit"] {
            border: none {
                radius: 3em
            }

            height: 2em;
            background-color: cornflowerblue;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            padding: 0 1em;
            cursor: pointer;
            outline: none;

            &:hover,
            &:focus {
                border: {
                    style: solid;
                    width: 3px;
                    color: rgb(27, 91, 211);
                }
            }
        }
    }
}