@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, serif;
  font-size: 16pt;
}

button, input {
  font-family: Montserrat, serif;
  font-size: 16pt;
}

label {
  display: none;
}

.search-container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-container form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem;
}

.search-container form .search-group {
  position: relative;
  color: #585858;
  width: 100%;
  max-width: 600px;
  margin-bottom: 1em;
}

.search-container form .search-group.autocomplete input[type="search"]:focus {
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.search-container form .search-group.autocomplete input[type="search"]:focus + .suggested-list {
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  visibility: visible;
  max-height: 100vh;
}

.search-container form .search-group input[type="search"] {
  border-color: #aaa;
  border-style: solid;
  border-width: 1px;
  border-radius: 1em;
  -webkit-transition-property: border-radius;
  transition-property: border-radius;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
  width: 100%;
  background-color: #fff;
  padding: 0;
  margin: 0;
  padding-left: 1em;
  padding-right: calc(1.5em + 1ch);
  outline: none;
  font-weight: 600;
  color: inherit;
  height: 2em;
}

.search-container form .search-group a[role="button"] {
  position: absolute;
  top: 0;
  right: 0;
  height: 2em;
  border: none;
  background: none;
  width: calc(1em + 1ch);
  cursor: pointer;
  outline: none;
  opacity: .3;
  z-index: 2;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: inherit;
}

.search-container form .search-group a[role="button"]:hover, .search-container form .search-group a[role="button"]:focus {
  opacity: 1;
}

.search-container form .search-group .suggested-list {
  font-size: inherit;
  display: block;
  position: absolute;
  background-color: #fff;
  z-index: 10;
  top: calc(100%);
  padding: 0;
  margin: 0;
  width: 100%;
  visibility: hidden;
  max-height: 1px;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
  -webkit-transition-property: visibility, max-height;
  transition-property: visibility, max-height;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  -webkit-box-shadow: 0px 1px 3px -1px #0000004d;
          box-shadow: 0px 1px 3px -1px #0000004d;
  list-style: none;
  overflow: hidden;
  border-color: #aaa;
  border-style: solid;
  border-width: 1px;
  border-top: none;
}

.search-container form .search-group .suggested-list li {
  line-height: 2em;
  cursor: pointer;
  padding: 0 1em;
  outline: none;
}

.search-container form .search-group .suggested-list li:hover, .search-container form .search-group .suggested-list li:focus {
  background-color: #f0f0f0;
}

.search-container form .search-group .suggested-list li small {
  float: right;
}

.search-container form input[type="submit"] {
  border: none;
  border-radius: 3em;
  height: 2em;
  background-color: cornflowerblue;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 1em;
  cursor: pointer;
  outline: none;
}

.search-container form input[type="submit"]:hover, .search-container form input[type="submit"]:focus {
  border-style: solid;
  border-width: 3px;
  border-color: #1b5bd3;
}
/*# sourceMappingURL=index.css.map */