@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import 'globals';

* {
  box-sizing: border-box;
  line-height: normal;
}

html {
  margin: 0;
  padding: 0;
}

body {
  @extend html;
  font-family: $font-family;
  font-size: $font-size;
  color: $text-color;
  background-color: whitesmoke;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background: {
    image: linear-gradient(90deg, #f5f5f5dd, #f5f5f5dd), url(../../assets/city1.png);
    position: center;
    size: contain;
    repeat: no-repeat;
    attachment: fixed;
  }
}

button,
input {
  font-family: $font-family;
  font-size: $font-size;
}

label {
  display: none;
}

.card {
  border-radius: 5px;
  background-color: #fff;
  padding: 1rem;
  margin: 0;
  box-shadow: 0 0px 4px -2px #aaaaaa;
  position: relative;
}

#app {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-flow: column;

  &>header {
    flex: 1;
    display: flex;
    align-items: center;
  }
}

@import 'search';
@import 'footer';